[Unit]
Description=mein Rhasspy LED 4mic Service
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/Rhasspy-LED-4mic/Rhasspy-LED-4mic
ExecStart=/usr/bin/python3 /opt/Rhasspy-LED-4mic/Rhasspy-LED-4mic/LED.py
SyslogIdentifier=rhasspyled
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
