[Unit]
Description=mein Rhasspy LED Servic3
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/Rhasspy-LED
ExecStart=/usr/bin/python3 /opt/Rhasspy-LED/LED.py
SyslogIdentifier=rhasspyled
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
